/* Smooth scroll and padding */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* Subtle grid background */
body {
  background-color: #050505;
  background-image:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.015) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.015) 1px,
      transparent 1px
    );
  background-size: 32px 32px;
}
